<a class="hidden-reveal-modal" href="#" data-reveal-id="session-modal">Click Me For A Modal</a>
<%= render 'layouts/header' %>

<%= render 'layouts/masthead' %>

<div class="row home-container">

  <div class="large-12 small-12 columns">
    <h3>Hey there, <%= session[:name] %>.</h3>
    <p>My name is Sean. I'm excited to meet you, <%= session[:name] %>.</p>
    <p>I'm glad <%= session[:employer] %> has some interest in my skills. I'd love to talk with you about <a href="#" class="hire-me">employment</a></p>
    <div class="row">

      <%= render 'layouts/my_stats' %>

      <div class="small-12 large-8 columns">
        <h4>This is my story:</h4>
        <p>I've been doing freelance web design for about five years now, having started when I needed to pay a few bills in <%= link_to "college", "http://www.usc.edu" %> real fast. Actually, I started playing with the web much earlier than that. My first real experience playing with CSS styles was when I was 13 and wanted to make my <%= link_to "myspace", "http://www.myspace.com" %> page look really cool so I could get the ladies (it didn't work, but the design was SWEET).</p>
        <p>I made a bunch of Wordpress sites for people, but quickly got tired of that because I didn't know how or why anything was working, and I felt confined by a system which I felt didn't suit me in terms of moving forward with new technologies (sorry Wordpress). What I really wanted to be doing was building apps. More importantly, I wanted to control my own app destiny and understand <i>how things were working</i> underneath the surface.</p>
        <p>I started learning how to write Javascript following <%= link_to "Codecademy's", "http://www.codecademy.com" %> great tutorials, and learned a lot in a really short time. But it wasn't enough, and I felt as though I wouldn't be able to get a full understanding of a web stack as quickly as I would have liked.</p>
        <p>Luckily there were <%= link_to "a few people starting a course", "http://www.appacademy.io/#p-staff" %> that promised to teach from zero to junior developer in nine weeks. Intrigued, I signed up, got accepted, and am now on the brink of completing my (sometimes totally overwhelming) nine weeks. </p>
        <p>I've learned a lot of <%= link_to "stuff", "#" %> in my nine weeks, much of which I've put on that sidebar over there, but the most important thing that I've learned is <i>how to learn</i> and how to totally immerse myself in what I'm learning. I've gained a love and appreciation for learning, and perhaps most importantly, a <span class="strike">hunger</span> craving to learn more.</p>
        <p>I've told you a bunch about myself. Why don't you tell me a little about <a href="#" class="hire-me">yourself?</a></p>
      </div>

      <div class="large-12 small-12 columns resume">
    <h3>Resume</h3>
    <table>
      <tbody>
        <tr>
          <td class="table-subject">Education</td>
          <td>
            <strong>University of Southern California</strong>
            <br>B.S. Psychology
            <br>2012
            <br>
            <br><strong>App Academy</strong>
            <br>2013
          </td>
        </tr>
        <tr>
          <td class="table-subject">Experience</td>
          <td>
            <strong>App Academy</strong> January 2013 - March 2013<br>
            An intensive nine-week course covering Ruby, Ruby on Rails, and Javascript. At the end of the course I was able to build a full Rails app from start to finish, and designed a number of web applications.<br><br>
            <strong>Freelance Web Design</strong> 2008 - 2013<br>
            I've built a number of sites for a variety of clients in different fields, working with HTML/CSS, Javascript, Wordpress and jQuery.<br><br>
            <strong>Holofy</strong> 2012 - 2013<br>
            I worked with a team of developers to build the frontend for an augmented reality app called Holofy, which is still in production. I worked with HTML/CSS and Javascript, as well as working with the Spring framework for Java, which is what our backend was built on.<br><br>
          </td>
        </tr>
        <tr>
          <td class="table-subject">Skills</td>
          <td>
            Foundation/Bootstrap Frameworks
            Ruby on Rails<br>
            HTML/CSS<br>
            SCSS<br>
            Javascript<br>
            jQuery<br>
            Frontend Design<br>
            UI Design<br>
            Ruby<br>
            SQL<br>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

      <%= render 'layouts/contact', call_to_action: "Don't just stand there, hire me!", message: @message %>
    </div>
  </div>
</div>

<%= render 'layouts/session_modal' %>

<script>

  /*global jQuery */
  /*!
  * FitText.js 1.1
  *
  * Copyright 2011, Dave Rupert http://daverupert.com
  * Released under the WTFPL license
  * http://sam.zoy.org/wtfpl/
  *
  * Date: Thu May 05 14:23:00 2011 -0600
  */

  (function( $ ){

    $.fn.fitText = function( kompressor, options ) {

      // Setup options
      var compressor = kompressor || 1,
          settings = $.extend({
            'minFontSize' : Number.NEGATIVE_INFINITY,
            'maxFontSize' : Number.POSITIVE_INFINITY
          }, options);

      return this.each(function(){

        // Store the object
        var $this = $(this);

        // Resizer() resizes items based on the object width divided by the compressor * 10
        var resizer = function () {
          $this.css('font-size', Math.max(Math.min($this.width() / (compressor*10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)));
        };

        // Call once to set.
        resizer();

        // Call on resize. Opera debounces their resize by default.
        $(window).on('resize', resizer);

      });

    };

  })( jQuery );

  $(function(){
    $('.top-header').fitText();
    $('.second-header').fitText(1.3);


    if("<%= session[:name] %>" == "stranger" || "<%= session[:name] %>" == "") {
      $('a.hidden-reveal-modal').trigger('click');
    }

    $(window).scroll(function(){
      var scrolled = $(window).scrollTop();
      var headerOpacity = (0 + (.2 * scrolled))/100;
      $('.masthead-headers').css('left', (0 - Math.pow(1.01 ,(scrolled) ) ) + 'px');
      $('.masthead-headers').css('opacity', (100 - (.1 * scrolled))/100);
      if ( headerOpacity > .9 ) {
        headerOpacity = .9
        $('.header').css('opacity', headerOpacity)
      } else {
        $('.header').css('opacity', headerOpacity)
      }

    })

    $('.masthead').height($(window).height());

    var topOffset = $(window).height()/2 - $('.masthead-container').height()/2;

    $('.masthead-container').css('padding-top', topOffset);

    (function showStuff() {
      $('.top-header')
        .hide();
      $('.second-header')
        .hide();
      $('.masthead-headers a')
        .hide();
      $('.top-header')
        .fadeIn(1000);
      $('.second-header')
        .fadeIn(1500);
      $('.masthead-headers a')
        .fadeIn(2000);
    })();

    // var counter = 0;
    // var words = " Hello <%= session[:name] %>   /Welcome /My name is  / Sean Woojin Kim";
    // typeWords = function(){
    //   if ( words[counter] == "/" ) {
    //     $('.masthead-headers h1').html('>');
    //   } else {
    //     $('.masthead-headers h1').append(words[counter]);
    //   }
    //   counter++;
    //   if (counter > words.length) {
    //     return;
    //   } else {
    //     console.log(counter);
    //     setTimeout(typeWords, 75);
    //   }

    // }
    // typeWords();

  })


  //refactor this
  $('.hire-me').click(function(){
    $('html, body').animate({
      scrollTop: $(".contact").offset().top
    }, 2000);
  })

  $('.back-to-top').click(function(){
    $('html, body').animate({
      scrollTop: 0
    }, 2000);
  })

  $('.about-link').click(function(){
    $('html, body').animate({
      scrollTop: $(".home-container").offset().top - 100
    }, 2000);
  })

  $('.resume-link').click(function(){
    $('html, body').animate({
      scrollTop: $(".resume").offset().top - 100
    }, 2000);
  })

  $('.new_message').bind('ajax:success', function() {
    $('.contact')
      .slideUp(1000)
    setTimeout(function(){
      $('.contact')
        .html("<h1>Thanks!</h1>")
        .slideDown(1000)
    }, 1500);
  });

</script>