<%= render "layouts/shim" %>
<head>
  <%= render "layouts/meta" %>
	<title><%= content_for?(:title) ? yield(:title) : "Sean Woojin Kim | Web Developer/Designer" %></title>

	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <div class="debug row">
    <div class="large-12 columns"
      <pre><%= debug(params) %></pre>
      <pre><%= debug(session) %></pre>
    </div>
  </div>
  <div class="footer">
    <div class="large-12 small-12 columns">
      ☮ ☮ ☺ Sean Kim 2013
    </div>
  </div>

</body>

<link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</html>